:root {
  --main-dark-gray: #F7F7F7;
  --main-light-gray: #BAB9B9;
}

* {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 100vw;
  position: absolute;
  background: url() no-repeat;
}

.background-image {
  opacity: 0.3;
  /* filter: alpha(opacity=50); */
  display: flex;
  float: left;
  position: relative;
  max-width: 100vw;
  height: 25vh;
}

.header-with-photo-and-title {
  box-sizing: border-box;
  display: flex;
  height: 25vh;
  vertical-align: middle;
  width: 100vw;
  position: absolute;
}

.header-photo {
  border-radius: 50%;
  height: 20vh;
  margin: 3vh 5vw;
  box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75)
}

.header-title {
  font-size: 4vw;
  margin: auto 5vh;
  text-align: center;
  vertical-align: middle;
  font-family: 'Srisakdi', sans-serif;
}

.navbar-position {
  box-sizing: border-box;
  display: block;
  height: 10vh;
  margin: 2vh auto;
  width: 100vw;
  margin-top: 25vh;
  position: absolute;
}

.section-position {
  box-sizing: border-box;
  display: flex;
  height: 64vh;
  margin: calc(56px + 25vh) auto 0 auto;
  position: absolute;
}

/* .article-into-section-left-container {
  width: 100vw;
}

.aside-into-section-right-container {
  width: 100vw;
} */

.section-contain {
  display: block;
  width: 100vw;
  margin: 0px;
}

.title-list {
  display: block;
}

.title-section-container {
  display: block;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(45deg, rgba(64,98,107,1) 0%, rgba(100,179,201,1) 25%, rgba(189,241,255,1) 50%, rgba(100,179,201,1) 75%, rgba(64,98,107,1) 100%);
}

.films-list, .starships-list {
  display: inline-block;
  width: 48vw;
  vertical-align: top;
}

.text-info {
    justify-content: center;
    color: black!important;
}

.text-color {
  color: red;
}

.data {
  border: 1px solid black;
  word-wrap: break-word;
  display: flex;
  width: 45vw;
  height: 30vh;
  background-image: linear-gradient(var(--main-dark-gray), var(--main-light-gray));
  border-radius: 15px;
  margin: 10px;
  /* overflow: hidden; */
}

/* .data:nth-of-type(even){

} */

.data:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  cursor: pointer;
}

.hidden {
  display: none;
  border: none;
}

/* .location {
  font-family: fantasy;
}

.Planet {
  font-weight: bold;
}

.unknown {
  color: blue;
} */

@media (max-width: 575px) {
  .header-with-photo-and-title {
    width: 100vw;
  }

  .navbar-position {
    width: 100vw;
  }

  .section-position {
    width: 100vw;
    display: block;
  }

  .article-into-section-left-container {
    width: 100vw;
  }

  .aside-into-section-right-container {
    width: 100vw;
  }
}
